body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

nav {
    display: grid;
    grid-template: 50px / 7% 7% 58% 7% 7% 7% 1fr;
    width: 100vw;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    padding: 5px;
    margin-left: 15px;
    margin-top: 15px;
    color: black;
    font-size: 75%;
}

nav a:hover {
    text-decoration: underline;
}

#appsIcon {
    width: 15px;
    height: 15px;
    margin: auto;
}

#signin {
    display: grid;
    justify-items: center;
    align-content: center;
    background-color: rgb(66,133,244);
    border-radius: 2px;
    border-style: solid;
    border-top-style: solid;
    color: rgb(255,255,255);
    font-size: 13px;
    font-weight: 700;
    height: 28px;
    width: 75px;
    line-height: 28px;
    outline-color: rgb(255,255,255);
    margin: 15px 15px 0px 15px;
    border: 1px solid rgb(66,133,244);
}

#googlelogo {
    margin: auto;
    margin-bottom: 10px;
}

form {
    margin: auto;
    margin-top: 10px;
}

#buttons {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
}

#btn1,#btn2 {
    border-radius: 4px;
    font-size: 14px;
    margin: auto;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

footer {
    display: grid;
    grid-template: 40px / 1fr 1fr 2fr 6fr 1fr 1fr 1fr;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

footer a {
    display: inline-flex;
    color: #5f6368;
    font-size: 13px;
    line-height: 40px;
    margin-left: 27px;
    margin-right: 27px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

footer a:hover {
    text-decoration: underline;
}